.checkbox--container {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: var(--font-size-body);
    line-height: var(--font-line-height-body);
    font-weight: var(--font-weight-regular);
    color: var(--neutral-color-600);
}

.checkbox--container.disabled {
    color: var(--neutral-color-400);
}

/* Hide the browser's default checkbox */
.checkbox--container .checkbox--input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox--checkmark {
    position: absolute;
    top: 0.2em;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: var(--width-color);
    border-radius: 2px;
    border: 1px solid var(--neutral-color-300);
}

.checkbox--checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox--container:hover .checkbox--checkmark {
    border: 1px solid var(--primary-color-500);
}

.checkbox--container.pressed .checkbox--checkmark {
    border: 1px solid var(--neutral-color-300);
}

.checkbox--container.checked .checkbox--checkmark {
    border: 1px solid var(--primary-color-600);
    background: var(--primary-color-600);
}

.checkbox--container.pressed.checked .checkbox--checkmark {
    border: 1px solid var(--neutral-color-300);
    background: var(--width-color);
}

.checkbox--container.pressed .checkbox--checkmark:after {
    display: block;
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 1px;
    background: var(--primary-color-600);
}

.checkbox--container.checked .checkbox--checkmark:after {
    display: block;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid var(--width-color);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox--container.pressed.checked .checkbox--checkmark:after {
    display: block;
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 1px;
    background: var(--primary-color-600);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.checkbox--container.disabled .checkbox--checkmark {
    border: 1px solid var(--neutral-color-300);
    background: var(--neutral-color-100);
}

.checkbox--container.disabled.checked .checkbox--checkmark:after {
    display: block;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid var(--neutral-color-400);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
